.html {
    scroll-behavior: smooth;
}

.events-body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.events-main {    
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url("../res/images/events_bg.jpg");
    background-repeat: no-repeat;
    background-position: auto;
    background-size: cover;
    background-attachment:fixed;
    position: static;
    min-height: 100%;
}

.events-title {
    display:flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vh;
    background-color: rgba(0, 0, 0, 0.75);
}

.events-title div {
    color:white;
    font-size: 2.5vw;
    align-self: center;
}

.events-card-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.events-card {
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 0;
    width: 20vw;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 1vw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);

    transition: 0.5s ease-in-out;
}

.events-card:hover {
    transform: translateY(-2vh);
    cursor: pointer;
}

.events-card:hover .events-card-title {
    font-size: 2.5vw;
}

.events-card-title {
    color: white;
    font-size: 2vw;
    margin: auto;
    transition: font-size 0.5s ease-in-out;
}
