.navbar {
    display: flex;
    padding-top: 1%;    
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
    position: sticky;
    left:0;
    right:0;
    background-color: #44362a;
}

.navbar img {
    width: 15%;
    filter:invert(1); 
    padding-right: 5%;
}

.navbar a {
    margin:auto;
    color: white;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar div {
    margin: auto;
    display: flex;
}

.navbar div span {
    color: white;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.currentPage {
    text-transform: uppercase;
    text-shadow: 2px 2px 1px #000000, 3px 3px 1px #000000, 4px 4px 1px #000000;
}