.navbar {
    display: flex;
    padding-top: 1vw;    
    padding-bottom: 1vw;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0%;
    left:0;
    right:0;
    background: rgb(15,12,9);
    background: linear-gradient(0deg, rgba(15,12,9,1) 0%, rgba(68,54,42,1) 34%,  rgba(68,54,42,1) 66%, rgba(15,12,9,1) 100%);
}

.navbar img {
    max-width: 20%;
    filter:invert(1); 
    margin-right: 5%;
    transition: 0.5s;
}

.navbar img:hover {
    transform:translateY(-5px);
    cursor: pointer;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.nav-links a {
    margin:auto;
    color: white;
    font-size: 1.5vw;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: .3vh;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-links div {
    margin: auto;
    display: flex;
}

.lang {
    color: white;
    font-size: 1.5vw;
    margin-left: .1vw;
    margin-right: .1vw;
    transition: box-shadow 0.5s;
}

.lang:hover {
    box-shadow: 0px 0px 10px white;
    cursor:pointer;
}

.nav_drop {
    position: relative;
    display: inline-block;
}

.nav_drop_content {
    display: none;
    opacity: 0;
    position: absolute;
    transform: translateY(3vh);
    min-width: 10vw;
    max-width: 12vw;
    z-index: -1;
    border-radius: 1vw;
    background-color: rgba(68,54,42,1);
    transition: .5s ease-in-out;
    box-shadow: 0vw .5vh 1vw rgba(0, 0, 0, 0.9);
}

.nav_drop:hover .nav_drop_content, .nav_drop_content:focus {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: .5s ease-in-out;
}

.nav_drop_item {
    color: white;
    cursor: pointer;
    position: relative;
    text-align: left;
    transition: background-color .2s ease-in-out;
    padding: 5% 10%;
    font-size: 1.5vw;
    border-radius: .1vw;
}

.nav_drop_item:hover {
    background-color: rgb(41, 33, 25);
}

.currentPage {
    text-transform: uppercase;
    text-shadow: .2vw .2vw .1vw #000000, .3vw .3vw .1vw #000000, .4vw .4vw .1vw #000000;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    font-size: 5vw;
    color: white;
    cursor: pointer;
}

.nav-toggle i {
    position: absolute;
    right: 5vw;
    top: 4vh;
}

@media (max-width: 800px) {

    /* .nav-links {
        display: none;
    } */

    .nav-toggle {
        display: flex;
    }

    .navbar {
        padding-left: 5vw;
        padding-right: 5vw;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }

    .navbar img {
        max-width: 30%;
        height: 12vh;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: right;
    }

    .nav-links a {
        font-size: 3vw;
        margin: 0;
        padding: 2vh;
    }

    .nav-links span {
        font-size: 2vw;
        margin: 0;
        padding: 2vh;
    }

    .nav-links.active {
        display: flex;
    }

    .nav_drop:hover .nav_drop_content, .nav_drop_content:focus {
        display: none;
    }
}